In [5]:
#Установка всех необходимых модулей
"""
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install tensorflow
%pip install scikit-learn
"""

'\n%pip install pandas\n%pip install numpy\n%pip install matplotlib\n%pip install tensorflow\n%pip install scikit-learn\n'

In [6]:
import pandas as pd
import numbers as np
from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv("LOGI.csv", parse_dates=["Date"])
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-03-27,2.062500,2.093750,2.000000,2.023438,1.525964,10659200
1,1997-03-31,2.046875,2.046875,2.000000,2.031250,1.531856,1594400
2,1997-04-01,2.078125,2.093750,2.031250,2.093750,1.578990,2324000
3,1997-04-02,2.132813,2.140625,2.062500,2.062500,1.555423,745600
4,1997-04-03,2.093750,2.109375,2.046875,2.093750,1.578990,651200
...,...,...,...,...,...,...,...
6768,2024-02-20,87.620003,87.980003,86.739998,87.790001,87.790001,466700
6769,2024-02-21,86.750000,87.230003,86.290001,86.739998,86.739998,512400
6770,2024-02-22,87.839996,89.290001,87.800003,89.000000,89.000000,364000
6771,2024-02-23,90.000000,90.000000,89.120003,89.639999,89.639999,288400
6772,2024-02-26,90.080002,90.199997,89.599998,89.849998,89.849998,397000

In [8]:
df[["Open", "Close", "Low", "High"]].corr()

           Open     Close       Low      High
Open   1.000000  0.999792  0.999882  0.999900
Close  0.999792  1.000000  0.999909  0.999901
Low    0.999882  0.999909  1.000000  0.999853
High   0.999900  0.999901  0.999853  1.000000

In [24]:
#Доделать функцю
def split_df(test_size = 0.8):
    
    """Разделение данных на тестовые, тренеровочные и валидационные"""
    
    len_df = len(df)
    size_train = int(len_df * test_size)    # размер тренировочных данных
    end_train_df = df[:size_train]
    start_test_df = df[size_train:]
    return size_train, end_train_df, start_test_df

In [27]:
split_df()

(5418,
            Date       Open       High        Low      Close  Adj Close  \
 0    1997-03-27   2.062500   2.093750   2.000000   2.023438   1.525964
 1    1997-03-31   2.046875   2.046875   2.000000   2.031250   1.531856
 2    1997-04-01   2.078125   2.093750   2.031250   2.093750   1.578990
 3    1997-04-02   2.132813   2.140625   2.062500   2.062500   1.555423
 4    1997-04-03   2.093750   2.109375   2.046875   2.093750   1.578990
 ...         ...        ...        ...        ...        ...        ...
 5413 2018-09-28  44.980000  45.090000  44.669998  44.720001  42.095196
 5414 2018-10-01  45.180000  45.230000  44.639999  44.680000  42.057541
 5415 2018-10-02  44.230000  44.480000  43.910000  44.090000  41.502171
 5416 2018-10-03  44.369999  44.389999  43.930000  44.049999  41.464516
 5417 2018-10-04  43.689999  43.709999  42.810001  43.189999  40.654995

         Volume
 0     10659200
 1      1594400
 2      2324000
 3       745600
 4       651200
 ...        ...
 5413    180100
 5414    184400
 5415    281300
 5416    133700
 5417    268700

 [5418 rows x 7 columns],
            Date       Open       High        Low      Close  Adj Close  Volume
 5418 2018-10-05  42.810001  43.000000  42.259998  42.560001  40.061977  228400
 5419 2018-10-08  41.630001  41.860001  41.200001  41.560001  39.120667  332300
 5420 2018-10-09  41.139999  41.650002  41.080002  41.509998  39.073601  244400
 5421 2018-10-10  40.029999  40.189999  38.730000  38.790001  36.513252  444800
 5422 2018-10-11  38.980000  39.369999  38.330002  38.480000  36.221443  391500
 ...         ...        ...        ...        ...        ...        ...     ...
 6768 2024-02-20  87.620003  87.980003  86.739998  87.790001  87.790001  466700
 6769 2024-02-21  86.750000  87.230003  86.290001  86.739998  86.739998  512400
 6770 2024-02-22  87.839996  89.290001  87.800003  89.000000  89.000000  364000
 6771 2024-02-23  90.000000  90.000000  89.120003  89.639999  89.639999  288400
 6772 2024-02-26  90.080002  90.199997  89.599998  89.849998  89.849998  397000

 [1355 rows x 7 columns])