In [2]:
#Установка всех необходимых модулей
"""
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install tensorflow
%pip install scikit-learn
"""

'\n%pip install pandas\n%pip install numpy\n%pip install matplotlib\n%pip install tensorflow\n%pip install scikit-learn\n'

In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [4]:
df = pd.read_csv("LOGI.csv", parse_dates=["Date"])
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-03-27,2.062500,2.093750,2.000000,2.023438,1.525964,10659200
1,1997-03-31,2.046875,2.046875,2.000000,2.031250,1.531856,1594400
2,1997-04-01,2.078125,2.093750,2.031250,2.093750,1.578990,2324000
3,1997-04-02,2.132813,2.140625,2.062500,2.062500,1.555423,745600
4,1997-04-03,2.093750,2.109375,2.046875,2.093750,1.578990,651200
...,...,...,...,...,...,...,...
6768,2024-02-20,87.620003,87.980003,86.739998,87.790001,87.790001,466700
6769,2024-02-21,86.750000,87.230003,86.290001,86.739998,86.739998,512400
6770,2024-02-22,87.839996,89.290001,87.800003,89.000000,89.000000,364000
6771,2024-02-23,90.000000,90.000000,89.120003,89.639999,89.639999,288400
6772,2024-02-26,90.080002,90.199997,89.599998,89.849998,89.849998,397000

In [5]:
df[["Open", "Close", "Low", "High"]].corr()

           Open     Close       Low      High
Open   1.000000  0.999792  0.999882  0.999900
Close  0.999792  1.000000  0.999909  0.999901
Low    0.999882  0.999909  1.000000  0.999853
High   0.999900  0.999901  0.999853  1.000000

In [6]:
#Распределение на тестовые и тренеровочные данные

len_df = len(df)
size_training = int(len_df * 0.8)
train_size = df[:size_training]
test_size = df[size_training:]
train_size

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-03-27,2.062500,2.093750,2.000000,2.023438,1.525964,10659200
1,1997-03-31,2.046875,2.046875,2.000000,2.031250,1.531856,1594400
2,1997-04-01,2.078125,2.093750,2.031250,2.093750,1.578990,2324000
3,1997-04-02,2.132813,2.140625,2.062500,2.062500,1.555423,745600
4,1997-04-03,2.093750,2.109375,2.046875,2.093750,1.578990,651200
...,...,...,...,...,...,...,...
5413,2018-09-28,44.980000,45.090000,44.669998,44.720001,42.095196,180100
5414,2018-10-01,45.180000,45.230000,44.639999,44.680000,42.057541,184400
5415,2018-10-02,44.230000,44.480000,43.910000,44.090000,41.502171,281300
5416,2018-10-03,44.369999,44.389999,43.930000,44.049999,41.464516,133700
5417,2018-10-04,43.689999,43.709999,42.810001,43.189999,40.654995,268700

In [7]:
col = df.Close.astype('float32')
col

0        2.023438
1        2.031250
2        2.093750
3        2.062500
4        2.093750
          ...
6768    87.790001
6769    86.739998
6770    89.000000
6771    89.639999
6772    89.849998
Name: Close, Length: 6773, dtype: float32

In [28]:
#   Разделение данных на тестовые и тренеровочные
def stab_data(name_col):
    "Нормализация данных"
    column = df[name_col].astype('float')
    #train = column[:int(len(column))] #не обязательно. ничего не делает, в случае чего, позже можно будет удалить
    print(train)
    scale_col = MinMaxScaler()
    scale_col.fit(column.values.reshape(-1, 1))
    column = scale_col.transform(column.values.reshape(-1, 1))
    print(column)
    return column


def xyarray(data, lb):
    "Разбиение массива на x y "
    x, y = [], []
    for i in range(len(data) - lb - 1):
        x.append(data[i:(i + lb), 0])
        y.append(data[(i + lb), 0])
    return np.array(x), np.array(y)

lb = 10
x,y = xyarray(stab_data("Close"), lb)


val = 0.9
x_train, x_test = x[:int(x.shape[0] * val)], x[int(x.shape[0] * val):]
y_train, y_test = y[:int(x.shape[0] * val)], y[int(x.shape[0] * val):]

0        2.023438
1        2.031250
2        2.093750
3        2.062500
4        2.093750
          ...
5413    44.720001
5414    44.680000
5415    44.090000
5416    44.049999
5417    43.189999
Name: Close, Length: 5418, dtype: float64
[[0.00698166]
 [0.00703842]
 [0.00749251]
 ...
 [0.63890656]
 [0.64355645]
 [0.64508219]]